{% include 'header.twig' %}
<div class="inner-page">
  <section>
<div class="container">
  <div class="row justify-content-center register-panel">
    <div class="col-lg-7">
      <div class="card bg-white">
        <div class="card-header">
          <div class="card-title">
           Reset Password
          </div>
        </div>
        
        <div class="card-body">

      {% if errorText %}
        <div class="alert alert-dismissible alert-danger">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          {{ errorText }}
        </div>
      {% endif %}
      {% if successText %}
        <div class="alert alert-dismissible alert-success">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          {{ successText }}
        </div>
      {% endif %}

     
        <form method="post" action="">

          <div class="form-group">
            <label for="username" class="control-label">Your user information</label>
            <input type="text" class="form-control" name="user" value="{{ data['user'] }}" placeholder="Your username">
          </div>

          <div class="form-group">
            <label for="username" class="control-label">My new password</label>
            <select class="form-control" name="type">
             {% for reset in resetType %}
              <option value="{{ reset['type'] }}">{{ reset['name'] }}</option>
             {% endfor %}
            </select>
          </div>


          {% if captcha %}
            <div class="form-group">
              <div class="g-recaptcha" data-sitekey="{{ captchaKey }}"></div>
            </div>
          {% endif %}

            <button type="submit" class="btn btn-blue">Reset my password</button>
        </form>
      </div>
    </div>
  </div>
</div>


{% include 'footer.twig' %}
